@charset "UTF-8";

body {
	font-family: Helvetica, Arial, Sans-serif;
	width: 80vw;
	margin: auto;
}

h1 {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background-color: tomato;
	color: white;
	border: none;
	width: 80vw;
	border-radius: 10px 10px 0 0;
}

hr {
	
}

form {
	width: 80vw;
	padding: 10px 20px;
	border-right: 1px solid tomato;
	border-left: 1px solid tomato;
	border-bottom: 1px solid tomato;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;
}

input {
	display: block;
	margin: 12px auto;
	padding: 10px 12px;
	width: 80%;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid tomato;
}

input[type="submit"] {
	border: 1px solid rgba(0, 0, 0, .6);
	background-color: rgba(255, 255, 255, .6);
	width: 40%;
	border: 1px solid tomato;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: bold;
}

input[type="submit"]:hover {
	background-color: tomato;
	color: white;
	border: 1px solid tomato;
}
